name: Issue To Pr

on:
  issues:
    types:
      - opened
      - labeled

jobs:
  issue-to-pr:
    name: Issue To Pr
    runs-on: ubuntu-latest
    outputs:
      branch-name: new-badge/${{ steps.issue-parser.outputs.issueparser_symbol }}
      pr-number: ${{ steps.create-pr.outputs.pull-request-number }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: Install dependencies
        run: yarn

      - name: Label Badge
        id: label-badge
        run: node scripts/labelBadge.mjs

      - name: Parse Issue Body
        uses: stefanbuck/github-issue-praser@v3
        id: issue-parser

      - name: Parse Badge
        id: parse-badge
        run: node scripts/parseBadge.mjs
        env:
          RESOLVED_BADGE_STR: ${{ steps.issue-parser.outputs.jsonString }}
          BADGE_TYPE: ${{ steps.label-badge.outputs.type }}

      - name: Add Badge
        id: add-badge
        run: node scripts/addBadge.mjs
        env:
          NEW_BADGE: ${{ steps.parse-badge.outputs.new-badge }}

      - name: Create Pull Request
        id: create-pr
        uses: peter-evans/create-pull-request@v6
        with:
          title: "[New Badge]: ${{ steps.parse-badge.outputs.new-badge_name }} issued by ${{ steps.parse-badge.outputs.new-badge_issuerName }}"
          body: "Refer Issue: #${{ github.event.issue.number }}"
          commit-message: add ${{ steps.parse-badge.outputs.new-badge_name }}
          base: main
          branch: ${{ steps.parse-badge.outputs.new-badge_issuerName }}/${{ steps.parse-badge.outputs.new-badge_name }}
          delete-branch: true
          add-paths: scroll.badgelist.json
          labels: |
            new
            need review
